html, body, #map {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  padding-top: 50px;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}

#map {
  cursor: default;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.table {
  margin-bottom: 0px;
}
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: white;
}
.navbar-collapse.in {
  overflow-y: hidden;
}
.nav-link {
  cursor: pointer;
}
.leaflet-popup-content {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.leaflet-popup-content-wrapper {
  border-radius: 5px;
}
.leaflet-sidebar {
  z-index: 1020;
}
.leaflet-sidebar .close {
  right: 0px;
  top: 5px;
  background: transparent;
}
@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 18px;
  }
}
@media (max-width: 767px){
  .url-break {
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}
/* Print Handling */
@media print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}
